<h1>
  Translatarrr!
</h1>

<div id="translatooooooor">
  <input type="button" value="Translate this Paper" {{action "translateText"}} class="button-secondary button--green" \>
  <div id="google_translate_element"></div>

  <hr>

  <div id="paper-goes-here">
    Your paper will be fetched and translated here.
  </div>
</div>
