<div class="sketch-tools">
  <a href="#colors-sketch" data-download="png" class="button-secondary button--green" style="float: right;">Download</a>
</div>
<canvas id="colors-sketch" width="800" height="300"></canvas>
