<div class="sketch-tools">
  <a href="#colors-sketch" class="button-secondary button--green pull-right" {{action saveImage target='view'}}>Save</a>
  <a href="#colors-sketch" data-tool="eraser" class="button-secondary button--grey pull-right">Clear</a>
</div>
<canvas id="colors-sketch" width="920" height="400"></canvas>
