<h1>Welcome!</h1>

<h4 class="card-tutorial-content">Hello and welcome to the Tahi.  You look new around these parts.</h4>
<h4>Don't fret, I'm going to walk you through Tahi.  In just a few minutes, you'll feel right at home.</h4>

<a id="tahi-tour" class="button-primary button--green">Start Tour</a>
<div class="clippy pull-right clearfix">
  <img src="/assets/clippy.jpg" />
</div>
<!--
<p>Find my template at: engines/standard_tasks/app/assets/javascripts/standard_tasks/templates/overlays/tutorial_overlay.hbs</p>
<p>Enter JavaScript in: engines/standard_tasks/app/assets/javascripts/standard_tasks/views/overlays/tutorial_overlay_view.js</p>
-->
