<!DOCTYPE html>
<html>
<head>
  <title>Slacker</title>
  <%= stylesheet_link_tag    "slacker/application", media: "all" %>
  <%= javascript_include_tag "slacker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
