.ve-ce-mathNode .mathjax-wrapper {
  display: inline-block;
  min-width: 5px;
}

.ve-ce-mathBlockNode {
  display: block;
  text-align: center;
}

.ve-ce-mathInlineNode {
  display: inline-block;
}

.ve-ce-mathBlockNode .mathjax-wrapper {
  width: 50%;
}

/* Note: there are two rendered formulas which are controlled
   by adding a class to the .mathjax-wrapper
 */
.ve-ce-mathNode .mathjax-wrapper .math-container {
  display: none;
  width:100%;
}

.ve-ce-mathNode .mathjax-wrapper.tex .math-container-tex {
  display: inline-block;
}

.ve-ce-mathNode .mathjax-wrapper.asciimath .math-container-asciimath {
  display: inline-block;
}

.oo-ui-icon-math {
  background-image: /* @embed */ url(math.svg);
}

/* These are hacks to make the popup stretch over the whole width for math input */

.oo-ui-textInputWidget.ve-ui-mathInputWidget {
  width: auto;
}

.oo-ui-textInputWidget.ve-ui-mathInputWidget input {
  text-align: center;
  padding: 20px 0 20px 0;
  font-family: 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', 'Monospace';
}

.ve-ui-mathInspector-tools {
  width: 100%;
  overflow: hidden;
}

.ve-ui-mathInspector-formatSelect {
  float:right;
}

.ve-ui-mathInspector-format-buttons {
  float: right;
}

.ve-ui-mathInspector-parseError {
  font-size: 10px;
  min-height: 15px;
  line-height: 15px;
  padding-top: 5px;
  color: red;
  text-align: center;
  white-space: nowrap;
  cursor: default;
}
