<div>
  <input type="button" value="Join Conference" {{action "joinRoom" target="view"}} class="join" \>
  <input type="button" value="Quit Conference" onclick="quitRoom();" class="quit" \>
</div>
<div class="video-container"></div>
